In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

# Women's and Men's FIFA World Cup Data

I collected this data from the wiki page for Womens FIFA World cup and the wiki page for Mens FIFA World Cup

In [2]:
womens_world = pd.read_html('https://en.wikipedia.org/wiki/FIFA_Women%27s_World_Cup')

In [53]:
mens_world = pd.read_html('https://en.wikipedia.org/wiki/FIFA_World_Cup')

In [23]:
##womens_world

In [4]:
type(womens_world)

list

The chart below is showing the most recent Women's FIFA World Cup champion country as well as years that the women's world cup as taken place

In [6]:
womens_world[1]

                                                   0
0                       Spain, the current champions
1                                        Tournaments
2  1991 1995 1999 2003 2007 2011 2015 2019 2023 2027

The charts below is showing the different conference that compete in the FIFA World Cup and how many times they have won a cup, or if they have hosted in the past and when. Top is womens, bottom is mens

In [9]:
womens_world[3]

,Confederation,Total,Hosts
0,Asian Football Confederation (AFC),3,1991: China 2007: China 2023: Australia
1,Confederation of African Football (CAF),0,NaN
2,"Confederation of North, Central America and Ca...",3,1999: United States 2003: United States 2015: ...
3,South American Football Confederation (CONMEBOL),0,NaN
4,Oceania Football Confederation (OFC),1,2023: New Zealand
5,Union of European Football Associations (UEFA),3,1995: Sweden 2011: Germany 2019: France

In [54]:
mens_world[2]

,Confederation,Total,Hosts
0,Asian Football Confederation (AFC),2,"2002: South Korea, Japan 2022: Qatar 2034: Sau..."
1,Confederation of African Football (CAF),2,2010: South Africa 2030: Morocco
2,"Confederation of North, Central America and Ca...",4,1970: Mexico 1986: Mexico 1994: United States ...
3,South American Football Confederation (CONMEBOL),5,1930: Uruguay 1950: Brazil 1962: Chile 1978: A...
4,Oceania Football Confederation (OFC),0,NaN
5,Union of European Football Associations (UEFA),12,1934: Italy 1938: France 1954: Switzerland 195...
6,Two competitions cancelled due to World War II,0,1942 1946

The chart below is showcasing the different host countries for the Women's FIFA World Cup, the attendence at each of these events, the venue as well as some games. The chart one below is also showing the same information for the Men's FIFA World Cup as well

In [10]:
womens_world[4]

      Year                   Hosts Venues/ Cities Total attendance † Matches  \
      Year                   Hosts Venues/ Cities Total attendance † Matches
0     1991                   China            6/4             510000      26
1     1995                  Sweden            5/5             112213      26
2     1999           United States            8/8            1214209      32
3     2003           United States            6/6             679664      32
4     2007                   China            5/5            1190971      32
5     2011                 Germany            9/9             845751      32
6     2015                  Canada            6/6            1353506      52
7     2019                  France            9/9            1131312      52
8     2023  Australia  New Zealand           10/9            1978274      64
9  Overall                 Overall        Overall            9015900     348

  Average attendance Highest attendances  \
  Average attendance              Number
0              18344               65000
1               4316               17158
2              37944               90185
3              21240               34144
4              37218               55832
5              26430               73680
6              26029               54027
7              21756               57900
8              30911               75784
9              25908               90185

                                                      \
                                               Venue
0                          Tianhe Stadium, Guangzhou
1                             Råsunda Stadium, Solna
2                    Rose Bowl, Pasadena, California
3  Robert F. Kennedy Memorial Stadium, Washington...
4                    Tianjin Olympic Center, Tianjin
5                             Olympiastadion, Berlin
6                                BC Place, Vancouver
7          Parc Olympique Lyonnais, Décines-Charpieu
8                          Stadium Australia, Sydney
9                         Rose Bowl, Pasadena (1999)


                                    Game(s)
0        China PR 4–0 Norway, Opening match
1                 Germany 0–2 Norway, final
2  United States 0–0 (5–4p) China PR, final
3   United States 3–1 Sweden, quarter-final
4     China PR 2–0 New Zealand, group stage
5           Germany 2–1 Canada, group stage
6         England 2–1 Canada, quarter-final
7      United States 2–0 Netherlands, final
8   Five matches, all at Stadium Australia.
9                                       NaN

In [55]:
mens_world[3]

         Year                          Hosts Venues/ Cities  \
         Year                          Hosts Venues/ Cities
0        1930                        Uruguay            3/1
1        1934                          Italy            8/8
2        1938                         France           10/9
3        1950                         Brazil            6/6
4        1954                    Switzerland            6/6
5        1958                         Sweden          12/12
6        1962                          Chile            4/4
7        1966                        England            8/7
8        1970                         Mexico            5/5
9        1974                   West Germany            9/9
10       1978                      Argentina            6/5
11       1982                          Spain          17/14
12       1986                         Mexico          12/11
13       1990                          Italy          12/12
14       1994                  United States            9/9
15       1998                         France          10/10
16       2002             South Korea  Japan          20/20
17       2006                        Germany          12/12
18       2010                   South Africa           10/9
19       2014                         Brazil          12/12
20       2018                         Russia          12/11
21       2022                          Qatar            8/5
22       2026  Canada  Mexico  United States          16/16
23  2030[n 1]       Morocco  Portugal  Spain            NaN
24       2034                   Saudi Arabia            NaN
25    Overall                        Overall        Overall

   Total attendance † Matches Average attendance Highest attendances ‡  \
   Total attendance † Matches Average attendance                Number
0            590549.0      18            32808.0                 93000
1            363000.0      17            21353.0                 55000
2            375700.0      18            20872.0                 58455
3           1045246.0      22            47511.0           173,850[94]
4            768607.0      26            29562.0                 63000
5            819810.0      35            23423.0                 50928
6            893172.0      32            27912.0                 68679
7           1563135.0      32            48848.0                 98270
8           1603975.0      32            50124.0                108192
9           1865753.0      38            49099.0                 83168
10          1545791.0      38            40679.0                 71712
11          2109723.0      52            40572.0                 95500
12          2394031.0      52            46039.0                114600
13          2516215.0      52            48389.0                 74765
14          3587538.0      52            68991.0                 94194
15          2785100.0      64            43517.0                 80000
16          2705197.0      64            42269.0                 69029
17          3359439.0      64            52491.0                 72000
18          3178856.0      64            49670.0                 84490
19          3429873.0      64            53592.0                 74738
20          3031768.0      64            47371.0                 78011
21          3404252.0      64            53191.0                 88966
22                NaN     104                NaN                   NaN
23                NaN     104                NaN                   NaN
24                NaN     104                NaN                   NaN
25         43936730.0     964            45577.0           173,850[94]

                                             \
                                      Venue
0            Estadio Centenario, Montevideo
1                Stadio Nazionale PNF, Rome
2              Olympique de Colombes, Paris
3          Maracanã Stadium, Rio de Janeiro
4                    Wankdorf Stadium, Bern
5                Ullevi Stadium, Gothenburg
6                Estadio Nacional, Santiago
7                   Wembley Stadium, London
8               Estadio Azteca, Mexico City
9                    Olympiastadion, Munich
10         Estadio Monumental, Buenos Aires
11                      Camp Nou, Barcelona
12              Estadio Azteca, Mexico City
13                          San Siro, Milan
14          Rose Bowl, Pasadena, California
15             Stade de France, Saint-Denis
16   International Stadium, Yokohama, Japan
17                   Olympiastadion, Berlin
18                Soccer City, Johannesburg
19         Maracanã Stadium, Rio de Janeiro
20                 Luzhniki Stadium, Moscow
21                    Lusail Stadium, Qatar
22                                      NaN
23                                      NaN
24                                      NaN
25  Maracanã Stadium, Rio de Janeiro (1950)


                                              Game(s)
0                  Uruguay 6–1 Yugoslavia, semi-final
1                     Italy 2–1 Czechoslovakia, final
2                     France 1–3 Italy, quarter-final
3                  Brazil 1–2 Uruguay, deciding match
4                     West Germany 3–2 Hungary, final
5                Brazil 2–0 Soviet Union, group stage
6                        Brazil 4–2 Chile, semi-final
7                     England 4–2 West Germany, final
8                     Mexico 1–0 Belgium, group stage
9                 West Germany 1–0 Chile, group stage
10                   Italy 1–0 Argentina, group stage
11               Argentina 0–1 Belgium, Opening match
12  Mexico 1–1 Paraguay, group stage Argentina 3–2...
13           West Germany 4–1 Yugoslavia, group stage
14                     Brazil 0–0 (3–2p) Italy, final
15                           Brazil 0–3 France, final
16                          Brazil 2–0 Germany, final
17        Germany 1–1 (4–2p) Argentina, quarter-final
18                       Spain 1–0 Netherlands, final
19                       Germany 1–0 Argentina, final
20                          France 4–2 Croatia, final
21                 Argentina 3–3 (4–2p) France, final
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN

The chart below is showcasing the winners and runnerups of the Women's FIFA World Cup, as well as the score of the final game and third place game. It also list the number of teams that where at each tournment throughout the years which allows to see how the tournment has grown from when it first started. The chart right below is showing the same information for the Men's FIFA World Cup as well.

In [11]:
womens_world[5]

  Ed.       Year                   Hosts          Final  \
  Ed.       Year                   Hosts      Champions
0   1       1991                   China  United States
1   2       1995                  Sweden         Norway
2   3       1999           United States  United States
3   4  2003[n 2]           United States        Germany
4   5       2007                   China        Germany
5   6       2011                 Germany          Japan
6   7       2015                  Canada  United States
7   8       2019                  France  United States
8   9       2023  Australia  New Zealand          Spain

                                                                     \
                                               Score     Runners-up
0                      2–1 Tianhe Stadium, Guangzhou         Norway
1                         2–0 Råsunda Stadium, Solna        Germany
2           0–0 (a.e.t.) (5–4 p) Rose Bowl, Pasadena          China
3             2–1 (a.e.t.) Home Depot Center, Carson         Sweden
4                      2–0 Hongkou Stadium, Shanghai         Brazil
5  2–2 (a.e.t.) (3–1 p) Commerzbank-Arena, Frankfurt  United States
6                            5–2 BC Place, Vancouver          Japan
7                  2–0 Parc Olympique Lyonnais, Lyon    Netherlands
8                      1–0 Stadium Australia, Sydney        England

  Third-place playoff                                               \
          Third place                                        Score
0              Sweden            4–0 Provincial Stadium, Guangzhou
1       United States                       2–0 Strömvallen, Gävle
2              Brazil         0–0[n 1] (5–4 p) Rose Bowl, Pasadena
3       United States                3–1 Home Depot Center, Carson
4       United States                4–1 Hongkou Stadium, Shanghai
5              Sweden             2–1 Rhein-Neckar-Arena, Sinsheim
6             England  1–0 (a.e.t.) Commonwealth Stadium, Edmonton
7              Sweden                    2–1 Allianz Riviera, Nice
8              Sweden                      2–0 Lang Park, Brisbane

               No. of teams
  Fourth place No. of teams
0      Germany           12
1        China           12
2       Norway           16
3       Canada           16
4       Norway           16
5       France           16
6      Germany           24
7      England           24
8    Australia           32

In [56]:
mens_world[4]

   Ed.       Year                                Host  \
   Ed.       Year                                Host
0    1       1930                             Uruguay
1    2       1934                               Italy
2    3       1938                              France
3    –       1942  (Not held because of World War II)
4    –       1946  (Not held because of World War II)
5    4       1950                              Brazil
6    5       1954                         Switzerland
7    6       1958                              Sweden
8    7       1962                               Chile
9    8       1966                             England
10   9       1970                              Mexico
11  10       1974                        West Germany
12  11       1978                           Argentina
13  12       1982                               Spain
14  13       1986                              Mexico
15  14       1990                               Italy
16  15       1994                       United States
17  16       1998                              France
18  17       2002                  South Korea  Japan
19  18       2006                             Germany
20  19       2010                        South Africa
21  20       2014                              Brazil
22  21       2018                              Russia
23  22       2022                               Qatar
24  23       2026       Canada  Mexico  United States
25  24  2030[n 1]            Morocco  Portugal  Spain
26  25       2034                        Saudi Arabia

                                 Final  \
                              Champion
0                              Uruguay
1                                Italy
2                                Italy
3   (Not held because of World War II)
4   (Not held because of World War II)
5                              Uruguay
6                         West Germany
7                               Brazil
8                               Brazil
9                              England
10                              Brazil
11                        West Germany
12                           Argentina
13                               Italy
14                           Argentina
15                        West Germany
16                              Brazil
17                              France
18                              Brazil
19                               Italy
20                               Spain
21                             Germany
22                              France
23                           Argentina
24                                 NaN
25                                 NaN
26                                 NaN

                                                    \
                                             Score
0               4–2 Estadio Centenario, Montevideo
1          2–1 (a.e.t.) Stadio Nazionale PNF, Rome
2                     4–2 Stade de Colombes, Paris
3               (Not held because of World War II)
4               (Not held because of World War II)
5               2–1 [n 3] Maracanã, Rio de Janeiro
6                        3–2 Wankdorfstadion, Bern
7                        5–2 Råsundastadion, Solna
8                   3–1 Estadio Nacional, Santiago
9             4–2 (a.e.t.) Wembley Stadium, London
10                 4–1 Estadio Azteca, Mexico City
11                      2–1 Olympiastadion, Munich
12  3–1 (a.e.t.) Monumental de Núñez, Buenos Aires
13                   3–1 Santiago Bernabéu, Madrid
14                 3–2 Estadio Azteca, Mexico City
15                       1–0 Stadio Olimpico, Rome
16        0–0 (a.e.t.) (3–2 p) Rose Bowl, Pasadena
17                3–0 Stade de France, Saint-Denis
18             2–0 International Stadium, Yokohama
19     1–1 (a.e.t.) (5–3 p) Olympiastadion, Berlin
20          1–0 (a.e.t.) Soccer City, Johannesburg
21           1–0 (a.e.t.) Maracanã, Rio de Janeiro
22                    4–2 Luzhniki Stadium, Moscow
23     3–3 (a.e.t.) (4–2 p) Lusail Stadium, Lusail
24                                             NaN
25                                             NaN
26                                             NaN

                                                      Third-place play-off  \
                             Runner-up                               Third
0                            Argentina                       United States
1                       Czechoslovakia                             Germany
2                              Hungary                              Brazil
3   (Not held because of World War II)  (Not held because of World War II)
4   (Not held because of World War II)  (Not held because of World War II)
5                               Brazil                              Sweden
6                              Hungary                             Austria
7                               Sweden                              France
8                       Czechoslovakia                               Chile
9                         West Germany                            Portugal
10                               Italy                        West Germany
11                         Netherlands                              Poland
12                         Netherlands                              Brazil
13                        West Germany                              Poland
14                        West Germany                              France
15                           Argentina                               Italy
16                               Italy                              Sweden
17                              Brazil                             Croatia
18                             Germany                              Turkey
19                              France                             Germany
20                         Netherlands                             Germany
21                           Argentina                         Netherlands
22                             Croatia                             Belgium
23                              France                             Croatia
24                                 NaN                                 NaN
25                                 NaN                                 NaN
26                                 NaN                                 NaN

                                                    \
                                             Score
0                                          – [n 2]
1             3–2 Stadio Giorgio Ascarelli, Naples
2                       4–2 Parc Lescure, Bordeaux
3               (Not held because of World War II)
4               (Not held because of World War II)
5                    3–1 [n 3] Pacaembu, São Paulo
6                             3–1 Hardturm, Zürich
7                           6–3 Ullevi, Gothenburg
8                   1–0 Estadio Nacional, Santiago
9                      2–1 Wembley Stadium, London
10                 1–0 Estadio Azteca, Mexico City
11                      1–0 Olympiastadion, Munich
12           2–1 Monumental de Núñez, Buenos Aires
13           3–2 Estadio José Rico Pérez, Alicante
14         4–2 (a.e.t.) Estadio Cuauhtémoc, Puebla
15                     2–1 Stadio San Nicola, Bari
16                         4–0 Rose Bowl, Pasadena
17                     2–1 Parc des Princes, Paris
18                        3–2 Daegu Stadium, Daegu
19         3–1 Gottlieb-Daimler-Stadion, Stuttgart
20  3–2 Nelson Mandela Bay Stadium, Port Elizabeth
21                  3–0 Estádio Nacional, Brasília
22        2–0 Krestovsky Stadium, Saint Petersburg
23    2–1 Khalifa International Stadium, Al Rayyan
24                                             NaN
25                                             NaN
26                                             NaN

                                                              No. of teams
                                Fourth                        No. of teams
0                           Yugoslavia                                  13
1                              Austria                                  16
2                               Sweden                                  15
3   (Not held because of World War II)  (Not held because of World War II)
4   (Not held because of World War II)  (Not held because of World War II)
5                                Spain                                  13
6                              Uruguay                                  16
7                         West Germany                                  16
8                           Yugoslavia                                  16
9                         Soviet Union                                  16
10                             Uruguay                                  16
11                              Brazil                                  16
12                               Italy                                  16
13                              France                                  24
14                             Belgium                                  24
15                             England                                  24
16                            Bulgaria                                  24
17                         Netherlands                                  32
18                         South Korea                                  32
19                            Portugal                                  32
20                             Uruguay                                  32
21                              Brazil                                  32
22                             England                                  32
23                             Morocco                                  32
24                                 NaN                                  48
25                                 NaN                                  48
26                                 NaN                                  48

The charts below is showing the country that has had the most wins in the tournment from most to least as well as listing the year they have won as well.

In [12]:
womens_world[6]

,Team,Title(s),Runners-up,Third place,Fourth place,Top 4 total
0,United States,"4 (1991, 1999*, 2015, 2019)",1 (2011),"3 (1995, 2003*, 2007)",NaN,8
1,Germany,"2 (2003, 2007)",1 (1995),NaN,"2 (1991, 2015)",5
2,Norway,1 (1995),1 (1991),NaN,"2 (1999, 2007)",4
3,Japan,1 (2011),1 (2015),NaN,NaN,2
4,Spain,1 (2023),NaN,NaN,NaN,1
5,Sweden,NaN,1 (2003),"4 (1991, 2011, 2019, 2023)",NaN,5
6,England,NaN,1 (2023),1 (2015),1 (2019),3
7,Brazil,NaN,1 (2007),1 (1999),NaN,2
8,China,NaN,1 (1999),NaN,1 (1995),2
9,Netherlands,NaN,1 (2019),NaN,NaN,1
10,Canada,NaN,NaN,NaN,1 (2003),1
11,France,NaN,NaN,NaN,1 (2011),1
12,Australia,NaN,NaN,NaN,1 (2023*),1

In [57]:
mens_world[5]

,Team,Titles,Runners-up,Third place,Fourth place,Top 4 total
0,Brazil,"5 (1958, 1962, 1970, 1994, 2002)","2 (1950*, 1998)","2 (1938, 1978)","2 (1974, 2014*)",11
1,Germany1,"4 (1954, 1974*, 1990, 2014)","4 (1966, 1982, 1986, 2002)","4 (1934, 1970, 2006*, 2010)",1 (1958),13
2,Italy,"4 (1934*, 1938, 1982, 2006)","2 (1970, 1994)",1 (1990*),1 (1978),8
3,Argentina,"3 (1978*, 1986, 2022)","3 (1930, 1990, 2014)",NaN,NaN,6
4,France,"2 (1998*, 2018)","2 (2006, 2022)","2 (1958, 1986)",1 (1982),7
5,Uruguay,"2 (1930*, 1950)",NaN,NaN,"3 (1954, 1970, 2010)",5
6,England,1 (1966*),NaN,NaN,"2 (1990, 2018)",3
7,Spain,1 (2010),NaN,NaN,1 (1950),2
8,Netherlands,NaN,"3 (1974, 1978, 2010)",1 (2014),1 (1998),5
9,Hungary,NaN,"2 (1938, 1954)",NaN,NaN,2
10,Czech Republic2,NaN,"2 (1934, 1962)",NaN,NaN,2
11,Sweden,NaN,1 (1958*),"2 (1950, 1994)",1 (1938),4
12,Croatia,NaN,1 (2018),"2 (1998, 2022)",NaN,3
13,Poland,NaN,NaN,"2 (1974, 1982)",NaN,2
14,Austria,NaN,NaN,1 (1954),1 (1934),2
15,Portugal,NaN,NaN,1 (1966),1 (2006),2
16,Belgium,NaN,NaN,1 (2018),1 (1986),2
17,United States,NaN,NaN,1 (1930),NaN,1
18,Chile,NaN,NaN,1 (1962*),NaN,1
19,Turkey,NaN,NaN,1 (2002),NaN,1
20,Serbia3,NaN,NaN,NaN,"2 (1930, 1962)",2
21,Russia4,NaN,NaN,NaN,1 (1966),1
22,Bulgaria,NaN,NaN,NaN,1 (1994),1
23,South Korea,NaN,NaN,NaN,1 (2002*),1
24,Morocco,NaN,NaN,NaN,1 (2022),1

The charts below is showing the different conferences have placed throughout the years the tournment, allowing for to see if one conference is better than another

In [13]:
womens_world[7]

         Confederation  AFC  CAF  CONCACAF  CONMEBOL  OFC  UEFA
0            Champions    1    0         4         0    0     4
1           Runners-up    2    0         1         1    0     5
2          Third place    0    0         3         1    0     5
3         Fourth place    2    0         1         0    0     6
4            Finalists    3    0         5         1    0     9
5       Semi-finalists    5    0         9         2    0    20
6    Quarter-finalists   16    1        10         5    0    40
7  Top 16 (since 2015)    9    6         6         4    0    23
8           Qualifiers   35   20        26        18    9    60

In [58]:
mens_world[6]

  Confederation  AFC  CAF  CONCACAF  CONMEBOL  OFC  UEFA  Total
0         Teams   43   49        46        89    4   258    489
1        Top 16    9   11        15        37    1    99    172
2         Top 8    2    4         5        36    0   105    152
3         Top 4    1    1         1        23    0    62     88
4         Top 2    0    0         0        15    0    29     44
5           4th    1    1         0         5    0    15     22
6           3rd    0    0         1         3    0    18     22
7           2nd    0    0         0         5    0    17     22
8           1st    0    0         0        10    0    12     22

The charts below is data based on the best ranked womens player that has played in the FIFA World Cup at one point in time.

In [14]:
womens_world[8]

   Rank               Player  Goals scored
0     1                Marta            17
1     2         Birgit Prinz            14
2     2         Abby Wambach            14
3     4       Michelle Akers            12
4     5            Cristiane            11
5     5              Sun Wen            11
6     5     Bettina Wiegmann            11
7     8   Christine Sinclair            10
8     8  Ann Kristin Aarønes            10
9     8          Carli Lloyd            10

In [59]:
mens_world[7]

    Rank             Player  Goals  Matches  Goals per game
0      1     Miroslav Klose     16       24            0.67
1      2            Ronaldo     15       19            0.84
2      3        Gerd Müller     14       13            1.08
3      4      Just Fontaine     13        6            2.17
4      4       Lionel Messi     13       26            0.50
5      6      Kylian Mbappé     12       14            0.86
6      6               Pelé     12       14            0.86
7      8      Sándor Kocsis     11        5            2.20
8      8   Jürgen Klinsmann     11       17            0.65
9     10        Helmut Rahn     10       10            1.00
10    10  Gabriel Batistuta     10       12            0.83
11    10       Gary Lineker     10       12            0.83
12    10   Teófilo Cubillas     10       13            0.77
13    10      Thomas Müller     10       19            0.53
14    10      Grzegorz Lato     10       20            0.50

The chart below is for the number of goals each country has scored in the FIFA World Cup ranked from most to least

In [15]:
womens_world[9]

   Rank        Country  Goals scored
0     1  United States           142
1     2        Germany           129
2     3         Norway           100
3     4         Sweden            83
4     5         Brazil            71
5     6        England            56
6     7          China            55
7     8          Japan            54
8     9      Australia            48
9    10         France            44

In [60]:
mens_world[8]

   Rank National team  Goals scored
0     1        Brazil           237
1     2       Germany           232
2     3     Argentina           152
3     4        France           136
4     5         Italy           128
5     6         Spain           108
6     7       England           104
7     8   Netherlands            96
8     9       Uruguay            89
9    10       Hungary            87

The charts below is for the awards that are given in the FIFA World Cup that shows the best goal scorer (Golden Boot) best goalie (Golden Glove) and other facts about these as well.

In [61]:
womens_world[10]

,World Cup,Golden Ball,Golden Boot,Goals,Golden Glove,Clean sheets,FIFA Young Player Award,FIFA Fair Play Trophy
0,1991 China,Carin Jennings,Michelle Akers,10,Not awarded,NaN,Not awarded,Germany
1,1995 Sweden,Hege Riise,Ann Kristin Aarønes,6,Not awarded,NaN,Not awarded,Sweden
2,1999 United States,Sun Wen,Sun Wen Sissi,7,Gao Hong Briana Scurry,5.0,Not awarded,China
3,2003 United States,Birgit Prinz,Birgit Prinz,7,Silke Rottenberg,5.0,Not awarded,China
4,2007 China,Marta,Marta,7,Nadine Angerer,6.0,Not awarded,Norway
5,2011 Germany,Homare Sawa,Homare Sawa,5,Hope Solo,2.0,Caitlin Foord,Japan
6,2015 Canada,Carli Lloyd,Célia Šašić,6,Hope Solo,5.0,Kadeisha Buchanan,France
7,2019 France,Megan Rapinoe,Megan Rapinoe,6,Sari van Veenendaal,3.0,Giulia Gwinn,France
8,2023 Australia/New Zealand,Aitana Bonmatí,Hinata Miyazawa,5,Mary Earps,3.0,Salma Paralluelo,Japan

In [34]:
mens_world[9]

,World Cup,Golden Ball,Golden Boot,Goals,Golden Glove,Clean sheets,FIFA Young Player Award,FIFA Fair Play Trophy
0,1930 Uruguay,Not Awarded,Guillermo Stábile,8,Not Awarded,NaN,Not Awarded,Not Awarded
1,1934 Italy,Not Awarded,Oldřich Nejedlý,5,Not Awarded,NaN,Not Awarded,Not Awarded
2,1938 France,Not Awarded,Leônidas,7,Not Awarded,NaN,Not Awarded,Not Awarded
3,1950 Brazil,Not Awarded,Ademir,8,Not Awarded,NaN,Not Awarded,Not Awarded
4,1954 Switzerland,Not Awarded,Sándor Kocsis,11,Not Awarded,NaN,Not Awarded,Not Awarded
5,1958 Sweden,Not Awarded,Just Fontaine,13,Not Awarded,NaN,Pelé,Not Awarded
6,1962 Chile,Not Awarded,Flórián Albert Garrincha Vavá Valentin Ivan...,4,Not Awarded,NaN,Flórián Albert,Not Awarded
7,1966 England,Not Awarded,Eusébio,9,Not Awarded,NaN,Franz Beckenbauer,Not Awarded
8,1970 Mexico,Not Awarded,Gerd Müller,10,Not Awarded,NaN,Teófilo Cubillas,Peru
9,1974 West Germany,Not Awarded,Grzegorz Lato,7,Not Awarded,NaN,Władysław Żmuda,West Germany
10,1978 Argentina,Not Awarded,Mario Kempes,6,Not Awarded,NaN,Antonio Cabrini,Argentina
11,1982 Spain,Paolo Rossi,Paolo Rossi,6,Not Awarded,NaN,Manuel Amoros,Brazil
12,1986 Mexico,Diego Maradona,Gary Lineker,6,Not Awarded,NaN,Enzo Scifo,Brazil
13,1990 Italy,Salvatore Schillaci,Salvatore Schillaci,6,Not Awarded,NaN,Robert Prosinečki,England
14,1994 United States,Romário,Oleg Salenko Hristo Stoichkov,6,Michel Preud'homme,2.0,Marc Overmars,Brazil
15,1998 France,Ronaldo,Davor Šuker,6,Fabien Barthez,5.0,Michael Owen,England France
16,2002 South Korea/Japan,Oliver Kahn,Ronaldo,8,Oliver Kahn,5.0,Landon Donovan,Belgium
17,2006 Germany,Zinedine Zidane,Miroslav Klose,5,Gianluigi Buffon,5.0,Lukas Podolski,Brazil Spain
18,2010 South Africa,Diego Forlán,Thomas Müller,5,Iker Casillas,5.0,Thomas Müller,Spain
19,2014 Brazil,Lionel Messi,James Rodríguez,6,Manuel Neuer,4.0,Paul Pogba,Colombia
20,2018 Russia,Luka Modrić,Harry Kane,6,Thibaut Courtois,3.0,Kylian Mbappé,Spain
21,2022 Qatar,Lionel Messi,Kylian Mbappé,8,Emiliano Martínez,3.0,Enzo Fernández,England

The chart below is showing the bids for where the next world cup will be and future world cups as well for the mens

In [49]:
mens_world[23]

,vteFIFA World Cup bids,vteFIFA World Cup bids.1
0,1930 Uruguay Hungary Italy Netherlands Spain S...,1930 Uruguay Hungary Italy Netherlands Spain S...
1,1930 Uruguay Hungary Italy Netherlands Spain S...,1986 Mexico Colombia‡ Canada United States 199...
2,1930,Uruguay Hungary Italy Netherlands Spain Sweden
3,1934,Italy Sweden
4,1938,France Argentina Germany
5,1942†,Brazil Germany
6,1946†,NaN
7,1950,Brazil
8,1954,Switzerland
9,1958,Sweden
10,1962,Chile Argentina West Germany
11,1966,England West Germany Spain
12,1970,Mexico Argentina
13,1974,West Germany Italy Netherlands Spain
14,1978,Argentina Mexico Iran Colombia
15,1982,Spain West Germany
16,1986,Mexico Colombia‡ Canada United States
17,1990,Italy Austria England France Greece Soviet Uni...
18,1994,United States Brazil Morocco
19,1998,France Morocco Switzerland
20,2002,South Korea–Japan Mexico
21,2006,Germany Brazil England Morocco South Africa
22,2010,South Africa Egypt Libya–Tunisia Morocco Nigeria
23,2014,Brazil Colombia
24,2018,Russia Belgium–Netherlands England Portugal–Spain
25,2022,Qatar Australia Japan South Korea United States
26,2026,Canada–Mexico–United States Morocco
27,2030,Spain–Portugal–Morocco Uruguay–Argentina–Chile...
28,2034,Saudi Arabia
29,Notes: Bold entries are those chosen as hosts ...,Notes: Bold entries are those chosen as hosts ...